$background_color: #111;
$close_color: aliceblue;
$driver-details_color: aliceblue;
$links_color: aliceblue;

.sidenav {
  height: 100%;
  width: 333px;
  position: fixed;
  z-index: 1;
  top: 3;
  left: 0;
  background-color: $background_color;
  overflow-x: hidden;
}

.drivers-img {
  width: 100%;
}

.close {
  color: $close_color;
  padding-top: 0;
  cursor: pointer;
  float: right;
}

.driver-details {
  padding-top: 90px;
  padding-left: 13px;
  padding-right: 13px;
  color: $driver-details_color;

  h2 {
    text-align: center;
  }

  img {
    width: 200px;
    height: 233px;
    margin-left: auto;
    margin-right: auto;

    display: block;
  }
}

.container {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 33px;


  margin-left: 50px;

  p {
    padding-top: 12px;
    margin-left: 33px;
  }

  h5 {
    float: left;
    font-size: 16px;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: $links_color;
  }
}
